<header>
  <img src="./assets/images/logo.png" />
  <div>
    <h1>
      Create a New Habit
    </h1>
  </div>
</header>
<div>
  <nav>
    <u>
      <li>
        <a href="/home">
          Main Menu
        </a>
      </li>
      <li>
        <a href="/my-habits">
          View Habits
        </a>
      </li>
      <li>
        <a href="/login">
          Log Out?
        </a>
      </li>
    </u>
  </nav>
</div>
<main class="u-full-width">
  <div class="container">
    <h2>
      Please fill in your habit details below.
    </h2>
    <div class="user-input twelve columns">
      <div class="align">
        <label for="habitName">
          Habit Name:
        </label>
        <input class="" type="text" placeholder="" id="habitName" />
      </div>
      <div class="align">
        <label for="habitType">
          Habit Type:
        </label>
        <input class="" type="text" placeholder="" id="habitType" />
      </div>
      <div class="align">
        <label for="targetDays">
          Target Number of Days:
        </label>
        <input class="" type="text" placeholder="" id="targetDays" />
      </div>
    </div>
    <div class="btns-row twelve columns">
      <button type="submit" class="button button-primary" id="createHabit">
        Create Habit
      </button>
    </div>
    pop-up that says 'habit created'? or invalid alert if user doesnt enter text/number in respective fields?
  </div>
</main>