<main class="u-full-width">
    <div class="twelve columns">
        <img src="./assets/images/logo.png">
    </div>

    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1>Log In</h1>
            </div>
        </div>

        <div class="row login-row">
            <div class="six columns">
                <form>
                    <label for="emailInput">Email Address</label>
                    <input class="u-full-width" type="email" placeholder="Your Email" id="emailInput">
                    <label for="passwordInput">Password</label>
                    <input class="u-full-width" type="password" placeholder="Password" id="passwordInput">
                </form>
            </div>
            <p>New to Habit Rabbit? Click <a href="">here</a> to create an account!</p>
        </div>

        <div class="btns-row">
            <input type="submit" class="button-button-primary" value="Submit">
            <a href="/login">go to home.html</a>
        </div>
    </div>
</main>
