<main class="u-full-width">
    <div class="twelve columns">
        <img src="./assets/images/logo.png">
        <div class="quote">
            <h1>“Habits are the compound interest of self-improvement”</h1>
            <h2>― James Clear, Atomic Habits: An Easy and Proven Way to Build Good Habits and Break Bad Ones</h2>
        </div>

        <div class="welcome-text">
            <h3>Welcome back!</h3>
            <h4>Have you completed your habits for today?</h4>
        </div>

        <div class="btns row">
            <div class="six columns">
                <a class="button button-primary" href="/create-habit">Create a New Habit</a>
            </div>
            <div class="six columns">
                <a class="button button-primary" href="/my-habits">My Habits</a>
            </div>
        </div>
    </div>
</main>