<main class="u-full-width">
    <div class="row">
        <img src="./assets/images/logo.png">
        <div class="twelve columns">
            <h1>Log In</h1>
        </div>
    </div>

    <div class="login-row">
        <div class="six columns">
            <form>
                <label for="emailInput">Email Address</label>
                <input class="u-full-width" type="email" placeholder="Your Email" id="emailInput">
                <label for="passwordInput">Password</label>
                <input class="u-full-width" type="password" placeholder="Password" id="passwordInput">
            </form>

        </div>
    </div>

    <div class="btns-row">
        <button type="submit" class="button button-primary" id="logIn">Login</button>
        <button type="submit" class="button button-primary" id="createAccount">Create Account</button>
    </div>
</main>