main img{
    max-height: 45%;
    max-width: 45%;
}

nav {
    display: flex;

}

header {
    display: flex;
    flex-wrap: wrap;
}

header a {
    font-size: 20px;
    text-decoration: none;
}

header img {
    max-height: 20%;
    max-width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header nav u {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.user-input {
    padding: 20px 0px;
    background-color: #eeeeee;
    border-radius: 4px;
}

.user-input label {
    font-size: 30px;
    font-weight: normal;
}


.test {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.card-container{
    padding: 2px 16px;
    background-color: #eeeeee;

}




/* .btns {
    padding-top: 50px;
} */