body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    
}

main {
    display: block;
}

main img{
    max-height: 45%;
    max-width: 45%;
}



.container {
    border-style: dashed;
    border-color: #000000;
    width: 90%;
    padding: 90px 0px;
    
}



.btns {
    padding-top: 50px;
}

.button-primary {
    font-family: 'Playfair Display', serif;
    background-color: #d5a6bd;
    color: #ffffff;
    font-size: 40px;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    justify-items: left;
    
}

.button-primary:hover {
    background-color: #bf95aa;
}